// Header Section 

.blogHeader {
  background-image: url('../assets/blog-header.jpg');
  background-position: right center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;

  &__listItems:last-child {
    padding: 0 150px 0 0;
  }

  &__title {

  }


}

// Main Section 

.blogMain {
  background: $backgroundColour;

  &__container {
    display: flex;
    flex-direction: row-reverse;
  }

  &__item--right {
    flex: 1 1 calc(70% - 40px);
    margin: 0 0 0 40px;
  }

  &__item--left {
    flex: 1 1 calc(30% - 40px);
    margin: 0 40px 0 0;
  }
}

.blogArticle {

  &__imgContainer {
    position: relative;
    top: -200px;
    right: -30px;
    box-shadow: -30px 30px 0 $boxOutlineColour;
    width: calc(100% - 30px);
  }

  &__wrapper {
    padding: 0 150px 0 0;
  }

  &__text {
    border-left: solid 5px $boxOutlineColour;
    border-bottom: solid 5px $boxOutlineColour;
    padding: 30px 0 10px 30px;
    margin: -200px 0 0 0;
  }

  &__title {
    padding: 30px 0 0 0;
  }

  &__p {
    margin: 50px 0 10px 0;
  }


}

.blogComments {

  &__title {
    padding: 40px 0;
  }

  &__comment {
    display: flex;
  }

  &__commentItem {
    margin: 0 0 80px 0;
  }

  &__commentItem:first-child {
    flex: 1 1 20%;
  } 

  &__imgContainer {
    width: 80%;
  }

  &__commentItem:last-child {
    flex: 1 1 80%;
  }

  &__info {
    line-height: 18px;
    padding: 0 0 10px 0;
  }
}