@media (max-width: 1225px) {
  
  .blog {

      h3 {
        font-size: 3.6rem;
      }

      p {
        font-size: 1.6rem;
      }
    }
  
  .blogMain__item--left {
    margin: 0 20px;
  }

  .blogHeader {
    &__title {
      top: 50vh;
      left: 50vw;
      transform: translate(-50%, -50%);
    }
  }

  .blogArticle {

    &__wrapper {
      padding: 0 60px 0 0;
    }

    &__imgContainer {
      position: static;
    }

    &__text {
      margin: 0 0 0 0;

    }

  }

  .blogComments {
    &__wrapper {
      padding-right: 60px;
    }
  }

  .blogForm {
    &__wrapper {
      padding-right: 60px;
    }
  }

  .blogAside {

    &__imgContainer {
      box-shadow: none;
      width: 100%;
    }

    &__textContainer {
      padding: 0;
      margin: 0;
      text-align: center;
    }


    &__links {
      font-size: 1.6rem;
    }
  }

}

@media (max-width: 900px) {

  .blogMain {
    &__container {
      flex-direction: column;
      align-items: center;
    }

    &__item--right {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      max-width: 80%;
    }
  }

  .blogArticle {

    &__imgContainer {
      box-shadow: none;
      border: solid 5px $boxOutlineColour;
      margin: 20px 0 0 0;
      width: 100%;
    }

    &__wrapper {
      padding-right: 0px;
    }

    &__text {
      border-right: solid 5px $boxOutlineColour;
      padding: 30px 30px 10px 30px;
    }
  }

  .blogComments {
    &__wrapper {
      padding: 0 10px;
    }
  }

  .blogForm {
    &__wrapper {
      padding: 0 10px;
    }
  }

  .blogAside {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;

    &__imgContainer {
      width: 80%;
    }
  }


}

@media (max-width: 675px) {
  .blog {

    h3 {
      font-size: 2.6rem;
    }

    p {
      line-height: 26px;
      letter-spacing: -1px;
    }
  }

  .blogHeader {
    &__listItems--desktop {
      display: none;
    }

    &__listItems--mobile {
      display: inline-block;
      font-size: 4rem;
      padding: 20px;
    }
  }

  .blogComments {
    &__comment {
      flex-direction: column;
    }

    &__commentItem:nth-child(odd) {
      margin: 0 0 20px 0;
    } 

    &__commentItem:nth-child(even) {
      margin: 0 0 40px 0;
    }

    &__imgContainer {
      width: 50%;
    }
  }

  .blogForm {
    &__fieldset {
      flex-direction: column;
    }

    &__subItem:last-child {
      text-align: left;
    }
  }

  .blogAside {
    &__links {
      line-height: 26px;
      letter-spacing: -1px;
    }
  }

}