// Header Section 

.blogHeader {
  background-image: url('../assets/blog-header.jpg');
  background-position: right center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;

  &__listItems:last-child {
    padding: 0 150px 0 0;
  }



}

// Main Section 

.blogMain {
  background: $backgroundColour;

  &__container {
    display: flex;
    flex-direction: row-reverse;
  }

  &__item--right {
    flex: 1 1 calc(70% - 40px);
    margin: 0 0 0 40px;
  }

  &__item--left {
    flex: 1 1 calc(30% - 40px);
    margin: 0 40px 0 0;
  }
}

.blogArticle {

  &__pageTitle {
    position: relative;
    top: -440px;
    right: -30px;
  }

  &__imgContainer {
    position: relative;
    top: -400px;
    right: -30px;
    box-shadow: -30px 30px 0 $boxOutlineColour;
    width: calc(100% - 30px);
  }

  &__wrapper {
    padding: 0 150px 0 0;
  }

  &__text {
    border-left: solid 5px $boxOutlineColour;
    border-bottom: solid 5px $boxOutlineColour;
    padding: 30px 0 10px 30px;
    margin: -400px 0 0 0;
  }

  &__title {
    padding: 30px 0 0 0;
  }

  &__p {
    margin: 50px 0 10px 0;
  }


}

.blogComments {

  &__wrapper {
    padding: 0 150px 0 35px;
  }

  &__title {
    padding: 40px 0;
  }

  &__comment {
    display: flex;
  }

  &__commentItem {
    margin: 0 0 80px 0;
  }

  &__commentItem:first-child {
    flex: 1 1 20%;
  } 

  &__imgContainer {
    width: 80%;
  }

  &__commentItem:last-child {
    flex: 1 1 80%;
  }

  &__info {
    line-height: 18px;
    padding: 0 0 10px 0;
  }
}

// Form 
.blogForm__formWrapper {
  padding: 0 150px 0 20px;
}

.blogForm__inputName,
.blogForm__inputEmail {    
  background: $backgroundColour;
}

.blogForm__inputArea {
  background: $backgroundColour;
    
}


// ----------------  Aside - Left Side 
.blogAside {

  margin: 60px 0 0 0;
  position: relative;
  
  &__imgContainer {
    position: absolute;
    right: 15px;
    top: -15px;
  }

  &__textContainer {
    background: $neutralColour;
    margin: 0 0 0 60px;
    padding: 340px 70px 0 0;
  }

  &__text {
    padding: 20px;
  }

  &__p {
    margin: 0 0 0 5px;
  }

  // https://www.w3schools.com/howto/howto_css_bullet_color.asp
  // This resource helped me change the colour of the bullets
  &__listItems::before {
    content: "\2022";
    color: $buttonColour;
    display: inline-block;
    width: 1rem;
  }

  &__links {
    @include sansSerifFont();
  }


}