
// Header
.contactHeader {
  background-image: url('../assets/contact-header.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;

  &__listItems:last-child {
    margin: 0 100px 0 0;
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 35%;
  }
}

// Main Section 
.contactMain {
  background: $backgroundColour;
  height: 600px;

  &__container {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
  }

  &__item:first-child {
    flex: 1 1 70%;
    position: relative;
  }

  &__formContainer {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 175px;
  }

  &__item:last-child {
    flex: 1 1 30%;

    display: flex;
    align-items: flex-end;
  }
}

// Form Section - Right
.contactForm {

  padding: 10px 50px 50px 50px;
  margin: 60px 50px 0 50px;
  box-shadow: 
    -30px 0 0 $boxOutlineColour, 
    -30px 30px 0 $boxOutlineColour;
  background: $neutralColour;


  &__input {
    background: $neutralColour;
  }
}

// Contact Info - Left

.contactInfo {

  margin: auto auto calc(175px - 30px) auto;

  &__list {
    display: flex;
    font-size: 22px;
  }

  &__listItems {
    padding: 0 25px 0 0;
  }

  &__p {
    padding: 15px 0;
  }

}


