* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    @include serifFont();

}

h1 {
    font-size: 138px;
}

h2 {
    font-size: 80px;
    line-height: 92px;
}

h3 {
    font-size: 42px;
    letter-spacing: 1px;
}

h4 {
    font-size: 32px;
    letter-spacing: 1px;
}

h5 {
    font-size: 20px;
}

img {
    width: 100%;
    display: block;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

p {
    @include sansSerifFont();
}

.wrapper {
    @include wrapper(1200);
}

.button {
    @include serifFont();
    background: $buttonColour;
    border: none;
    padding: 8px;
    
}

.navList {
    display: flex;
    justify-content: flex-end;
}

.navListItems {
    @include serifFont();
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 1px;
}

// .navListItems:last-child {
//     padding-right: 60px;
// }

.navLinks {
    display: block;
    padding: 25px;
}

.input {
    @include sansSerifFont;
}


.footer {
    background: $darkColour;
    color: $neutralColour;
    text-align: center;
}