// Header
.homeHeader {
  background-image: url('../assets/header-image.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__list {
    display: flex;
    justify-content: flex-end;
  }

  &__listItems:last-child {
    padding-right: 60px;
  }

  &__title {
    text-align: center;
    z-index: 10;
    text-transform: uppercase;
    margin: 0 0 50px 50px;
  }

}

// Section Backgrounds 
.homeSection:nth-child(odd) {
  background: $backgroundColour;
}

// About Section 
.homeAbout {
  height: 600px;
  position: relative;

  &__imgContainer {
    position: absolute;
    width: 42%;
    right: 0;
    top: -500px;
    border-top: solid 50px $boxOutlineColour;
    border-bottom: solid 50px $boxOutlineColour;
    border-left: solid 40px $boxOutlineColour;
  }

  &__wrapper {
    @include wrapper(1000);
    height: 100%;
  }

  &__container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__p {
    margin: 20px 0;
  }

}

// Articles Section
.homeArticles {
  // height: 838px;
  display: flex;
  flex-wrap: wrap;


  &__item {
    flex: 1 0 50%;
    height: 419px;
    
    display: flex;
  }

  &__item--article {
    justify-content: center;
    align-items: center;
  }


  // Articles
  &__text {
    padding: 10px;
    width: 80%;
  }

  &__pOne,
  &__pTwo {
    margin: 20px 0;
  }

  // 1st Image
  &__item:first-child {
    position: relative;


  }

  &__imgContainerOne {
      width: 85%;
      position: absolute;
      left: 0;
      top: -30px;
      box-shadow: 30px 30px 0 $boxOutlineColour;
      
  }

  // 2nd Article 
  &__text--two {
    text-align: right;
    
  }

  &__pTwo {
      text-align: left;
  }

  // 2nd Image
  &__item:last-child {
    position: relative;
  
  }

  &__imgContainerTwo {
      width: 85%;
      position: absolute;
      right: 0;
      bottom: -30px;
      box-shadow: -30px 30px 0 $boxOutlineColour;
    }


}

// Navigation Section 
.homeMainNav {

  .mainWrapper {
    @include wrapper(1400);
  }

  &__list {

    padding: 100px;
    display: flex;
    flex-wrap: wrap;

  }

  &__listItems {
    margin: 0 0 30px 0;
    flex: 1 0 calc(50% - 5px);

    display: flex;
  }

  &__listItems:nth-child(odd) {
    margin-right: 10px;
  }

  &__iconContainer {
    margin: 0 10px 0 0;
  }

  &__icons {
    background: $buttonColour;
    border-radius: 50%;
    padding: 10px;
  }

  &__titles:hover,
  &__titles:focus {
    opacity: 0.5;
  }

}

// Banner Section 
.homeBanner {
  background-image: url('../assets/banner.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;

}

// Featured Section
.homeFeatured {

  &__wrapper {
    @include wrapper(1400);
  }

  &__contentContainer {
    display: flex;
    padding: 80px 0 calc(30px + 60px) 0;
  }

  &__itemImg {
    flex: 1 1 30%;
  }

  &__imgContainer {
    width: 80%;
    box-shadow: 30px 30px 0 $boxOutlineColour;
  }

  &__itemText {
    flex: 1 1 70%;
    height: 328px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
  }

  &__p {
    margin: 0 0 40px 0;
  }

}

// Gallery Section
.homeGallery {

  &__wrapper {
    @include wrapper(1400);
  }

  &__contentContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px auto;

  }

  &__item {
    flex: 1 1 auto;

    display: flex;
    justify-content: center;
  }

  &__imgContainer {
    text-align: center;
    max-width: 300px;
    margin: 0 5px 20px 5px;
  }
}