@media (max-width: 1475px) {

  .homeHeader {

    &__title {
      margin: 0px;
      text-align: left;
      font-size: 10rem;
    }
  }


}

@media (max-width: 1150px) {
  
  .home {

    h3 {
    font-size: 3.6rem;
  }

    h4 {
      font-size: 2.6rem;
    }
    
    p {
      font-size: 1.6rem;
    }

  }

  .homeAbout {
    height: auto;
    display: flex;
    flex-direction: column;

    &__imgContainer {
      position: static;
      width: 40%;
      align-self: center;
      border: solid 10px $boxOutlineColour;
      margin: 20px 0 0 0;
    }

    &__text {
      padding: 50px 0;
      text-align: center;
    }
  }

  .homeArticles {

    &__item {
      align-items: center;
      justify-content: center;
    }

    &__imgContainerOne {
      position: static;
      box-shadow: none;
      border: solid 5px $boxOutlineColour;
    }

    &__imgContainerTwo {
      position: static;
      box-shadow: none;
      border: solid 5px $boxOutlineColour;
    }

    &__text {
      text-align: center;
    }

  }


}

@media (max-width: 850px) {
  
  .home p {
    line-height: 26px;
    letter-spacing: -1px;
    text-align: center;
  }

  .homeHeader {

    &__listItems--desktop {
      display: none;
    }

    &__listItems--mobile {
      display: inline-block;
      font-size: 4rem;
      padding: 20px;
    }

    &__title {
      font-size: 5.5rem;
    }
  }

  .homeAbout {

    &__imgContainer {
      width: 50%;
    }

    &__text {
      padding: 30px;
    }
  }

  .homeArticles {
    justify-content: center;

    &__item {
      flex: 0 1 auto;
      height: auto;
      margin: 10px 0;
    }

    &__item:nth-child(3) {
      order: 4;
    }

    &__p--two {
      text-align: center;
    }

  }

  .homeMainNav {

    &__list {
      padding: 20px 0;
    }

    &__listItems {
      flex: 1 0 50%;
      margin: 10px;

      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    &__iconContainer {
      margin: 0 0 0 0;
    }

  }

  .homeBanner {
    height: 40vh;
  }

  .homeFeatured {

    &__contentContainer {
      flex-direction: column;
      align-items: center;
      text-align: center;

    }

    &__itemImg {
      display: flex;
      justify-content: center;
      margin: 0 0 20px 0;
    }

    &__imgContainer {
      width: 50%;
      box-shadow: none;
      border: solid 10px $boxOutlineColour;
    }

    &__text {
      align-items: center;
    }


  }


}