html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
}

h1 {
  font-size: 13.8rem;
}

h2 {
  font-size: 8rem;
  line-height: 92px;
}

h3 {
  font-size: 4.2rem;
  letter-spacing: 1px;
}

h4 {
  font-size: 3.2rem;
  letter-spacing: 1px;
}

h5 {
  font-size: 2rem;
}

img {
  width: 100%;
  display: block;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}

.button {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  background: #4CEEA7;
  border: none;
  padding: 8px;
}

.email {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  font-size: 26px;
}

.navList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navListItems {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 1px;
}

.navLinks {
  display: block;
  padding: 25px;
}

.navListItems__mobile {
  display: none;
}

.input {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 50px 0;
}

.form__fieldset {
  border: none;
  padding: 30px 0;
}

.form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__subItem {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  width: 100%;
}

.form__subItem:last-child {
  text-align: right;
}

.form .form__inputName,
.form .form__inputEmail {
  width: 90%;
  padding: 10px;
  border: none;
  border-bottom: solid 1px #4CEEA7;
}

.form .form__inputName::-webkit-input-placeholder,
.form .form__inputEmail::-webkit-input-placeholder {
  opacity: 1;
}

.form .form__inputName:-ms-input-placeholder,
.form .form__inputEmail:-ms-input-placeholder {
  opacity: 1;
}

.form .form__inputName::-ms-input-placeholder,
.form .form__inputEmail::-ms-input-placeholder {
  opacity: 1;
}

.form .form__inputName::placeholder,
.form .form__inputEmail::placeholder {
  opacity: 1;
}

.form .form__inputArea {
  border: solid 1px #4CEEA7;
  padding: 10px;
  margin: 0 0 40px 0;
  resize: none;
}

.form .form__button {
  display: block;
}

.footer {
  background: #2C2C2C;
  color: #FAFAFA;
  text-align: center;
}

.homeHeader {
  background-image: url("../assets/header-image.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.homeHeader__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.homeHeader__listItems:last-child {
  padding-right: 60px;
}

.homeHeader__title {
  text-align: center;
  z-index: 10;
  text-transform: uppercase;
  margin: 0 0 50px 50px;
}

.homeSection:nth-child(odd) {
  background: #EFFDF3;
}

.homeAbout {
  height: 600px;
  position: relative;
}

.homeAbout__imgContainer {
  position: absolute;
  width: 42%;
  right: 0;
  top: -500px;
  border-top: solid 50px #FDFA69;
  border-bottom: solid 50px #FDFA69;
  border-left: solid 40px #FDFA69;
}

.homeAbout__wrapper {
  max-width: 1000px;
  margin: 0 auto;
  width: 90%;
  height: 100%;
}

.homeAbout__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homeAbout__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homeAbout__p {
  margin: 20px 0;
}

.homeArticles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.homeArticles__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  height: 419px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homeArticles__item--article {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homeArticles__text {
  padding: 10px;
  width: 80%;
}

.homeArticles__p {
  margin: 20px 0;
}

.homeArticles__item:first-child {
  position: relative;
}

.homeArticles__imgContainerOne {
  width: 85%;
  position: absolute;
  left: 0;
  top: -30px;
  -webkit-box-shadow: 30px 30px 0 #FDFA69;
          box-shadow: 30px 30px 0 #FDFA69;
}

.homeArticles__text--two {
  text-align: right;
}

.homeArticles__pTwo {
  text-align: left;
}

.homeArticles__item:last-child {
  position: relative;
}

.homeArticles__imgContainerTwo {
  width: 85%;
  position: absolute;
  right: 0;
  bottom: -30px;
  -webkit-box-shadow: -30px 30px 0 #FDFA69;
          box-shadow: -30px 30px 0 #FDFA69;
}

.homeMainNav .mainWrapper {
  max-width: 1400px;
  margin: 0 auto;
  width: 90%;
}

.homeMainNav__list {
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.homeMainNav__listItems {
  margin: 0 0 30px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(50% - 5px);
          flex: 1 0 calc(50% - 5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homeMainNav__listItems:nth-child(odd) {
  margin-right: 10px;
}

.homeMainNav__iconContainer {
  margin: 0 10px 0 0;
}

.homeMainNav__icons {
  background: #4CEEA7;
  border-radius: 50%;
  padding: 10px;
}

.homeBanner {
  background-image: url("../assets/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.homeFeatured__wrapper {
  max-width: 1400px;
  margin: 0 auto;
  width: 90%;
}

.homeFeatured__contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0 calc(30px + 60px) 0;
}

.homeFeatured__itemImg {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
}

.homeFeatured__imgContainer {
  width: 80%;
  -webkit-box-shadow: 30px 30px 0 #FDFA69;
          box-shadow: 30px 30px 0 #FDFA69;
}

.homeFeatured__itemText {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
  height: 328px;
}

.homeFeatured__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.homeFeatured__p {
  margin: 0 0 40px 0;
}

.homeGallery__wrapper {
  max-width: 1400px;
  margin: 0 auto;
  width: 90%;
}

.homeGallery__contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px auto;
}

.homeGallery__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homeGallery__imgContainer {
  text-align: center;
  max-width: 300px;
  margin: 0 5px 20px 5px;
}

.blogHeader {
  background-image: url("../assets/blog-header.jpg");
  background-position: right center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.blogHeader__listItems:last-child {
  padding: 0 150px 0 0;
}

.blogHeader__title {
  position: absolute;
  top: 43%;
  left: 36%;
}

.blogMain {
  background: #EFFDF3;
  position: relative;
}

.blogMain__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.blogMain__item--right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(70% - 40px);
          flex: 1 1 calc(70% - 40px);
  margin: 0 0 0 40px;
}

.blogMain__item--left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(30% - 40px);
          flex: 1 1 calc(30% - 40px);
  margin: 0 40px 0 0;
}

.blogArticle__imgContainer {
  position: relative;
  top: -300px;
  right: -30px;
  -webkit-box-shadow: -30px 30px 0 #FDFA69;
          box-shadow: -30px 30px 0 #FDFA69;
  width: calc(100% - 30px);
}

.blogArticle__wrapper {
  padding: 0 150px 0 0;
}

.blogArticle__text {
  border-left: solid 5px #FDFA69;
  border-bottom: solid 5px #FDFA69;
  padding: 30px 0 10px 30px;
  margin: -300px 0 0 0;
}

.blogArticle__title {
  padding: 30px 0 0 0;
}

.blogArticle__p {
  margin: 50px 0 10px 0;
}

.blogComments__wrapper {
  padding: 0 150px 0 35px;
}

.blogComments__title {
  padding: 40px 0;
}

.blogComments__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogComments__commentItem {
  margin: 0 0 80px 0;
}

.blogComments__commentItem:first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
}

.blogComments__imgContainer {
  width: 80%;
}

.blogComments__commentItem:last-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 80%;
          flex: 1 1 80%;
}

.blogComments__info {
  line-height: 18px;
  padding: 0 0 10px 0;
}

.blogForm__wrapper {
  padding: 0 150px 0 20px;
}

.blogForm__inputName,
.blogForm__inputEmail {
  background: #EFFDF3;
}

.blogForm__inputArea {
  background: #EFFDF3;
}

.blogAside {
  margin: 60px 0 0 0;
}

.blogAside__imgContainer {
  -webkit-box-shadow: 25px 10px 0 -10px #FAFAFA;
          box-shadow: 25px 10px 0 -10px #FAFAFA;
  width: calc(100% - 15px);
}

.blogAside__textContainer {
  background: #FAFAFA;
  margin: 0 0 0 60px;
  padding: 0 70px 0 0;
}

.blogAside__title {
  margin: 0 0 10px 0;
}

.blogAside__text {
  padding: 20px;
}

.blogAside__p {
  margin: 0 0 0 5px;
}

.blogAside__listItems::before {
  content: "\2022";
  color: #4CEEA7;
  display: inline-block;
  width: 1rem;
}

.blogAside__links {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

.contactHeader {
  background-image: url("../assets/contact-header.jpg");
  background-size: cover;
  background-position: left;
  height: 100vh;
  position: relative;
}

.contactHeader__listItems:last-child {
  margin: 0 100px 0 0;
}

.contactHeader__title {
  position: absolute;
  top: 50%;
  left: 43%;
}

.contactMain {
  background: #EFFDF3;
  height: 600px;
}

.contactMain__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  height: 100%;
}

.contactMain__item:first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
  position: relative;
}

.contactMain__formContainer {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 175px;
}

.contactMain__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contactForm {
  padding: 10px 50px 50px 50px;
  margin: 60px 50px 0 50px;
  -webkit-box-shadow: -30px 0 0 #FDFA69, -30px 30px 0 #FDFA69;
          box-shadow: -30px 0 0 #FDFA69, -30px 30px 0 #FDFA69;
  background: #FAFAFA;
}

.contactForm__input {
  background: #FAFAFA;
}

.contactInfo {
  margin: auto auto calc(175px - 30px) auto;
}

.contactInfo__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 22px;
}

.contactInfo__listItems {
  padding: 0 25px 0 0;
}

.contactInfo__p {
  padding: 15px 0;
}

@media (max-width: 1475px) {
  .homeHeader__title {
    margin: 0px;
    text-align: left;
    font-size: 10rem;
  }
}

@media (max-width: 1150px) {
  .home h3 {
    font-size: 3.6rem;
  }
  .home h4 {
    font-size: 2.6rem;
  }
  .home p {
    font-size: 1.6rem;
  }
  .homeAbout {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .homeAbout__imgContainer {
    position: static;
    width: 40%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border: solid 10px #FDFA69;
    margin: 20px 0 0 0;
  }
  .homeAbout__text {
    padding: 50px 0;
    text-align: center;
  }
  .homeArticles__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .homeArticles__imgContainerOne {
    position: static;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: solid 5px #FDFA69;
  }
  .homeArticles__imgContainerTwo {
    position: static;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: solid 5px #FDFA69;
  }
  .homeArticles__text {
    text-align: center;
  }
}

@media (max-width: 850px) {
  .home p {
    line-height: 26px;
    letter-spacing: -1px;
    text-align: center;
  }
  .homeHeader__listItems--desktop {
    display: none;
  }
  .homeHeader__listItems--mobile {
    display: inline-block;
    font-size: 4rem;
    padding: 20px;
  }
  .homeHeader__title {
    font-size: 5.5rem;
  }
  .homeAbout__imgContainer {
    width: 50%;
  }
  .homeAbout__text {
    padding: 30px;
  }
  .homeArticles {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .homeArticles__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    height: auto;
    margin: 10px 0;
  }
  .homeArticles__item:nth-child(3) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .homeArticles__pTwo {
    text-align: center;
  }
  .homeMainNav__list {
    padding: 20px 0;
  }
  .homeMainNav__listItems {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    margin: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .homeMainNav__iconContainer {
    margin: 0 0 0 0;
  }
  .homeBanner {
    height: 40vh;
  }
  .homeFeatured__contentContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .homeFeatured__itemImg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 20px 0;
  }
  .homeFeatured__imgContainer {
    width: 50%;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: solid 10px #FDFA69;
  }
  .homeFeatured__text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1225px) {
  .blog h3 {
    font-size: 3.6rem;
  }
  .blog p {
    font-size: 1.6rem;
  }
  .blogMain__item--left {
    margin: 0 20px;
  }
  .blogHeader__title {
    top: 50vh;
    left: 50vw;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .blogArticle__wrapper {
    padding: 0 60px 0 0;
  }
  .blogArticle__imgContainer {
    position: static;
  }
  .blogArticle__text {
    margin: 0 0 0 0;
  }
  .blogComments__wrapper {
    padding-right: 60px;
  }
  .blogForm__wrapper {
    padding-right: 60px;
  }
  .blogAside__imgContainer {
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
  }
  .blogAside__textContainer {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .blogAside__links {
    font-size: 1.6rem;
  }
}

@media (max-width: 900px) {
  .blogMain__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blogMain__item--right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    max-width: 80%;
  }
  .blogArticle__imgContainer {
    -webkit-box-shadow: none;
            box-shadow: none;
    border: solid 5px #FDFA69;
    margin: 20px 0 0 0;
    width: 100%;
  }
  .blogArticle__wrapper {
    padding-right: 0px;
  }
  .blogArticle__text {
    border-right: solid 5px #FDFA69;
    padding: 30px 30px 10px 30px;
  }
  .blogComments__wrapper {
    padding: 0 10px;
  }
  .blogForm__wrapper {
    padding: 0 10px;
  }
  .blogAside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  .blogAside__imgContainer {
    width: 80%;
  }
}

@media (max-width: 675px) {
  .blog h3 {
    font-size: 2.6rem;
  }
  .blog p {
    line-height: 26px;
    letter-spacing: -1px;
  }
  .blogHeader__listItems--desktop {
    display: none;
  }
  .blogHeader__listItems--mobile {
    display: inline-block;
    font-size: 4rem;
    padding: 20px;
  }
  .blogComments__comment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogComments__commentItem:nth-child(odd) {
    margin: 0 0 20px 0;
  }
  .blogComments__commentItem:nth-child(even) {
    margin: 0 0 40px 0;
  }
  .blogComments__imgContainer {
    width: 50%;
  }
  .blogForm__fieldset {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blogForm__subItem:last-child {
    text-align: left;
  }
  .blogAside__links {
    line-height: 26px;
    letter-spacing: -1px;
  }
}

@media (max-width: 1415px) {
  .contactHeader {
    background-position: left -300px center;
  }
  .contactHeader__title {
    top: 0;
    left: 0;
    font-size: 5rem;
  }
  .contactMain {
    height: auto;
  }
  .contactMain__formContainer {
    position: static;
    bottom: 0;
  }
  .contactForm {
    -webkit-box-shadow: none;
            box-shadow: none;
    border: solid 5px #FDFA69;
    margin-bottom: 50px;
  }
  .contactInfo {
    margin: auto;
  }
}

@media (max-width: 975px) {
  .contactHeader__listItems--desktop {
    display: none;
  }
  .contactHeader__listItems--mobile {
    display: inline-block;
    font-size: 4rem;
    padding: 20px;
  }
  .contactHeader__title {
    top: 60px;
    font-size: 4rem;
  }
  .contactMain__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactMain__item:last-child {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contactForm {
    margin: 60px 0 20px 0;
  }
  .contactForm__input {
    font-size: 1.6rem;
  }
  .contactForm__inputArea {
    font-size: 1.6rem;
  }
  .contactInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 20px 0;
  }
  .contactInfo__p {
    margin: 0 20px;
  }
  .contactInfo__address {
    text-align: center;
  }
}
